#map-mapbox{
    width : 100% ;
    height : 100% ;
}

.marker{
    background-image: url('../assets/img/garbage.png');
    background-size: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
  }