
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="gestion-poubelles">Gestion Poubelles</a></li>
          <li class="active"><a routerLink="maps-poubelles">Maps</a></li>
        </ul>
      </div>
    </div>
</nav>
<!--<div id="map-mapbox"></div>-->
<!--<app-maps></app-maps>-->
<router-outlet></router-outlet>